@model List<Product>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Danh sách sản phẩm 
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Tạo mới
            </a>
        </div>
    </div>
</div>

<table id="tblData" class=" table table-bordered table-striped">
 <thead>
         <tr>
            <form asp-controller="Product" asp-action="Index">
                <p>
                    Tìm kiếm theo tiêu đề: <input type="text" name="SearchString" />
                    <input type="submit" value="Tìm kiếm" />
                </p>
            </form>
         </tr>
         
        <tr >
            <th>Tên Bánh</th>
            <th>Size</th>
            <th>Giá</th>
            <th>Thợ làm bánh</th>
            <th>Thể Loại</th>
            <th>Giá thành</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td>@obj.ISBN</td>
                <td>@obj.Price</td>
                <td>@obj.Author</td>
                <td>@obj.Category.Name</td>
                <td>@obj.Price</td>


                <td>
                    <div class=" btn-group" role="group">
                        <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>  Chỉnh sửa
                        </a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i>Xóa

                        </a>
                        
                    </div>
                </td>

            </tr>
        }
    </tbody> 

</table>
