@model IEnumerable<Product>
<div class="row pb-3">
    <div class="col-lg-6 col-sm-12">
        <form method="get" action="@Url.Action("Index", "Home")">
            <div class="form-group">
                <label for="categoryId">Chọn danh mục:</label>
                @* <select class="form-control" id="categoryId" name="categoryId">
                    <option value="">-- Tất cả --</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select> *@
            </div>
        </form>
        
    </div>
</div>
<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class=" col-lg-3 col-sm-6">

            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 shadow border-top border-5 rounded" style="height:550px;">



                        
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                                {
                                    <img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" style="
                                 height: 260px; />
                                }
                                else
                                {
                                    <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                                }

                            </div>
                            <div class="pl-1" style="margin: 25px;">
                                <p style="height:50px;" class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                
                            </div>
                            <div class="pl-1">
                              
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                   Size bánh:
                                    <span class="text-decoration-black font-weight-bold">
                                        @product.ISBN
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-danger text-opacity-75 text-center" style="font-size: 20.5px;">
                                    Giá đang được bán:
                                    <span>
                                        @product.Price100.ToString("c"+"0")
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details"
                           asp-route-productId="@product.Id"
                           class="btn btn-primary bg-gradient border-0 form-control">
                            Chi Tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{
    <script>
        // Thêm sự kiện onchange cho dropdown list để tự động gửi yêu cầu khi giá trị thay đổi
        document.getElementById('categoryId').addEventListener('change', function () {
            this.form.submit(); // Gửi yêu cầu khi giá trị thay đổi
        });
    </script>
}
